.title {
  color: rgb(137, 179, 214);
}

.contact {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(237, 234, 230);
}

.justify {
  width: 150%;
  display: flex;
}

.form-label {
  width: 40%;
  text-align: right;
  padding: 5px;
  margin: 5px;
}

.form-input {
  width: 60%;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

.start-right {
  padding: 5px;
  margin-left: 42%;
}

.submit-button {
  padding: 5px;
  margin: 5px;
  background-color: rgb(106, 118, 179);
  color: white;
  border-radius: 25px;
  margin-left: 85%;
}

.error {
  color: red;
}
