body {
  font-family: arial;
}

.title {
  color: rgb(137, 179, 214);
}

.contact {
  display: flex;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}

.justify {
  width: 500px;
  display: flex;
}

.form-label {
  width: 40%;
  text-align: right;
  padding: 5px;
  margin: 5px;
}

.form-input {
  width: 60%;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}

.start-right {
  padding: 5px;
  margin-left: 40%;
}

.submit-button {
  padding: 5px;
  margin: 5px;
  background-color: rgb(106, 118, 179);
  color: white;
  border-radius: 25px;
  margin-left: 85%;
}

.submit-button:disabled {
  background-color: rgb(180, 180, 182);
}

.error {
  color: red;
}

.language {
  margin: 5px;
  cursor: pointer;
}

table {
  margin: 0 auto;
  padding: 10px;
}

th {
  font-weight: normal;
  padding: 5px;
  background-color: rgb(231, 231, 231);
}
