/**
* Mobile-first layout
*/
.container {
  max-width: 100%;
  color: #222;
}

.form-set {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.form-set:first-child {
  text-align: center;
}

.form-set:last-child {
  display: flex;
  justify-content: flex-end;
}

/**
* Larger layout
*/
@media (min-width: 640px) {
  .container {
    margin: auto;
    max-width: 640px;
  }
  .form-set {
    flex-direction: row;
  }
  .form-label {
    flex: 1;
    text-align: right;
  }
  .form-input {
    flex: 3;
  }
  .form-set:first-child {
    justify-content: center;
  }
  .address-pick {
    display: flex;
    flex-flow: column;
    margin-left: 25%;
  }
  .error {
    margin-left: 25%;
  }
  .accept-terms {
    margin-left: 25%;
  }
}

/**
* Form visual styles
*/
.title {
  color: rgb(137, 179, 214);
}
.textinput {
  border-radius: 25px;
  border: 0;
}
.formbutton {
  background-color: rgb(106, 118, 179);
  font-size: 1em;
  color: white;
  border-radius: 25px;
  padding: 5px;
}
.formbutton:disabled {
  background-color: rgb(180, 180, 182);
}
.error {
  color: rgb(217, 56, 27);
  padding: 5px;
}
input, select {
  box-sizing: content-box;
  width: 100%;
  padding: 5px;
}

input[type='radio'], input[type='checkbox'] {
  width: auto;
}

.form-input-success {
  border: 1px;
  border-style: solid;
  border-color: green;
}

.form-input-error {
  border: 1px;
  border-style: solid;
  border-color: red;
}
